body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background: linear-gradient(
    to right,
    rgba(22, 68, 176, 0.7),
    rgba(49, 255, 98, 0.3)
  );
}
